<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'Main:index' %}"><h1>Get to start</h1></a>
    <h1>Actor: {{actor}}</h1>
    <h2>Movies</h2>
    <ul>
      {% for movie in movies %}
      <a href="{% url 'Main:movie_detail' movie.id %}"
        ><li>{{movie.movie_name}}</li></a
      >
      {% endfor %}
    </ul>
  </body>
</html>
