<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <a href="{% url 'Main:index' %}"><h1>Get to start</h1></a>
    <h1>Movie: {{movie}}</h1>
    <h2>Actors</h2>
    <ul>
      {% for actor in actors %}
      <a href="{% url 'Main:actor_detail' actor.id %}"
        ><li>{{actor.actor_name}}</li></a
      >
      {% endfor %}
    </ul>
  </body>
</html>
